@model IEnumerable<CodigoComun.Models.Stock>

<h2>Lista de stocks</h2>
@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Nombre de deposito</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    
                    <td>@stock.IdDepositoNavigation.Nombre</td>
                 
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron stocks</p>
}
