@using CodigoComun.Models

@model Deposito
<h2>Editar Deposito</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group" method="post">
                <label class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Capacidad</label>
                <input asp-for="Capacidad" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Direccion</label>
                <input asp-for="Direccion" class="form-control" />

            </div>
            <br />
            <label>@ViewBag.Mensaje</label>


            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

