@using CodigoComun.Models
@model Deposito
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Index Depositos</h2>
<br />
Datos del deposito :
<br />
Id: @Model.Id;
<br />
Capacidad: @Model.Capacidad;
<br />
Nombre: @Model.Nombre;
<br />
Direccion:  @Model.Direccion;